{% extends 'base.html.twig' %}



{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<div class="example-wrapper">

    <div class="lutilisateur">
        <h1>Bonjour {{user.nom}}</h1>



        <!-- Bouton pour ouvrir la modale -->
        {% if bestImage %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comparaisonModal">
            Il semblerais que quelqu'un utilise aussi cette photo
        </button>
        {% endif %}

        <!-- Modale Bootstrap -->
        <div class="modal fade" id="comparaisonModal" tabindex="-1" aria-labelledby="comparaisonModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="comparaisonModalLabel">Résultat de la comparaison</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
              </div>
              <div class="modal-body text-center">
                <p>Image similaire à la tienne :</p>
                <img src="{{ asset('uploads/photos/' ~ bestImage) }}" width="200" class="img-fluid mb-2">

                {% if score == 0.0 %}

                    <p>Utilisateur ayant exactement la même image :</p>

                    {% for user in uzer %}
                        <div class="mb-3">
                            <img src="{{ asset('uploads/photos/' ~ user.photo) }}"
                                 width="200"
                                 class="img-fluid mb-2">

                            <p>
                                {{ user.prenom }} {{ user.nom }}
                            </p>
                        </div>
                    {% endfor %}

                {% else %}
                    <p>Aucun autre utilisateur n’a exactement la même image.</p>
                {% endif %}



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>



            {% if app.user.photo %}
                    <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" width="150">
                {% endif %}
        </div>

    <div class="photoProfil">


        <h1 class="textPhotoProfil">Envie d'une nouvelle photo de profil ?</h1>
        <div class="formPhotoProfil">
            {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
                        {{ form_row(form.photo) }}
                        <button class="savePhotoProfil" type="submit">Enregistrer</button>
                    {{ form_end(form) }}
            </div>


    </div>


<div class="profilLink">
        <a href="{{ path('app_sortie') }}">Créez ta propre sortie</a>
        <a href="{{ path('app_sortie_vitrine') }}">Acceuil</a>
        <a href="{{ path('app_admin_profil') }}">Vous etes administrateur ?</a>
    </div>


<div class="formCreationSortie" >
    <h1> Crée ta propre sortie</h1>
    {{ form_start(formCreateSortie) }}
                {{ form_row(formCreateSortie.nom) }}
                {{ form_row(formCreateSortie.description) }}
                {{ form_row(formCreateSortie.dateHeure) }}
                {{ form_row(formCreateSortie.lieu) }}
                {{ form_row(formCreateSortie.photo) }}
                {{ form_row(formCreateSortie.status) }}

                <button class="btn btn-primary">Créer la sortie</button>
            {{ form_end(formCreateSortie) }}

    </div>





<div class="mesInscriptions">
    {% for inscription in inscriptions %}
            <div class="inscription">
                <a href="{{ path('app_details', { id: inscription.sortie.id }) }}">
                            <img src="{{ asset('uploads/photos/' ~ inscription.sortie.photo) }}" width="150">
                            <p>{{ inscription.sortie.nom }}</p>
                        </a>
                <p>Pour le : {{ inscription.sortie.dateHeure|date('d/m/Y H:i') }}</p>

                <form method="post" action="{{ path('app_sortie_desistement', {'id': inscription.sortie.id}) }}">
                    <button class="desinscription">Se désinscrire</button>
                </form>
            </div>


        {% endfor %}
    </div>

</div>

<footer class="footer">
            <p>&copy; 2026 ENI Sorties.</p>
        </footer>
{% endblock %}


