{% extends 'base.html.twig' %}

{% block title %}Hello GestionProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h1>Gestion du profil</h1>
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        {{ form_row(form.photo) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    {% if app.user.photo %}
        <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" width="150">
    {% endif %}

</div>
{% endblock %}
