{% extends 'base.html.twig' %}

{% block title %}Hello DetailsController!{% endblock %}

{% block body %}




<div class="example-wrapper">
   <div class= "sortiePresentation">
        <h1>{{ sorties.nom }}</h1>






            {% if sorties.photo %}
                               <img class="imgDetail" src="{{ asset('uploads/photos/' ~ sorties.photo) }}" width="150">
                           {% endif %}
                           <p>{{ sorties.nom }}</p>
                           <p> Prévut le :<strong>{{ sorties.dateHeure|date('d/m/Y H:i') }} H</strong></p>

                           <p>{{ sorties.description }}</p>
                           <p>Lieu : <strong>{{ sorties.lieu }}</strong></p>
                           <p>Organisateur : <strong>{{ sorties.organisateur }}</strong></p>
                           <p> Status : {% if sorties.status == 1 %}
                                                             Ouverte
                                                         {% else %}
                                                             Fermée
                                                         {% endif %}</p>


                            <p>Lieu : <strong id="lieu">{{ sorties.lieu }}</strong></p>

                            <div id="qrcode">
                                <p>Scanne moi pour localiser cette sortie</p>
                                </div>

                            <script src="https://cdn.jsdelivr.net/npm/qrcodejs/qrcode.min.js"></script>
                            <script>
                                const lieu = "{{ sorties.lieu|url_encode }}";
                                const mapsUrl = "https://www.google.com/maps/search/?api=1&query=" + lieu;

                                new QRCode(document.getElementById("qrcode"), {
                                    text: mapsUrl,
                                    width: 200,
                                    height: 200
                                });
                            </script>
       </div>


<div class="formOrganisateur">
    {% if showForm %}

    <div class="formOrg">

    {{ form_start(form) }}
    <p><strong>Editer la sortie</strong> </p>
                {{ form_row(form.nom) }}
                {{ form_row(form.description) }}
                {{ form_row(form.dateHeure) }}
                {{ form_row(form.lieu) }}
                {{ form_row(form.status) }}
                {{ form_row(form.photo) }}

                <button class="btn btn-primary">Appliquer les changements</button>
            {{ form_end(form) }}
</div>
<div class="btnSupp">
             {{ form_start(formSupp) }}
                            <button class="btn btn-primary">Supprimer la sortie</button>
                        {{ form_end(formSupp) }}

</div>
    {% endif %}

    </div>
</div>
{% endblock %}


